/*
 * WLAN-Zugangsdaten
 * =================
 * Diese Datei kopieren nach "credentials.h" und eigene WLAN-Daten eintragen!
 * 
 * WICHTIG: credentials.h wird NICHT ins Git-Repository übertragen!
 */

// WLAN-Zugangsdaten hier eintragen
const char* ssid     = "DEIN_WLAN_NAME";
const char* password = "DEIN_WLAN_PASSWORT";
